<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/showCards.css" />
  </head>
  <body>
    <header>showCards</header>
    <main>
      <% if (cards.length > 0) { %> <% cards.forEach(card => { %>
      <div class="card">
        <h2>Card</h2>
        <p>Title: <%= card.title %></p>
        <p>Description: <%= card.description %></p>
        <p>Image: <img src="<%= card.img %>" alt="Image" /></p>

        <a href="/showCards/<%= card.id %>">PRESS ME</a>
        <a
          class="btn btn-outline-dark mt-auto"
          href="/showCards/<%= card.id %>/edit?alow=true"
          >EDIT</a
        >
      </div>
      <% }); %> <% } else {%>
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Opps</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            At this moment, there are not any posts
          </p>
        </div>
      </div>
      <%}%>
    </main>
  </body>
</html>
